<!-- Stránka 'O aplikaci' -->
<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="utf-8" />
  </head>
  <body class="body do_bloku">
    {% extends "sablona.html" %}
    {% load static %}
    {% block content %}
      <header class="sablona__section__header">
        <h1 class="nadpis1">O aplikaci</h1>
      </header>

      <section class="sablona__section__section">
        <p>
          Pro <strong>přihlášení</strong> se do role administrátora
        (pracovníka pojišťovny) zadejte přihlašovací údaje (platí i pro
        přihlášení se do administrace databáze):
        </p>

        <p>
          <em>email</em>: admin@pj.cz </br>
          <em>heslo</em>: admin
        </p>

        <p>
          <strong>Účet administrátora</strong> lze vytvořit pouze
        v administraci dabáze.
          <strong>Účet pojištěnce</strong> se vytvoří automaticky po
        vytvoření nového pojištěnce s přihlašovacími údaji:
        </p>

        <p>
          <em>email</em>: email pojištěnce</br>
          <em>heslo</em>: id pojištěnce
        </p>

        <p>
          Možnost vytvořit <strong>nového pojištěnce</strong> získáte
        po přihlášení se do aplikace v roli administrátora v sekci
        <strong>Pojištěnci</strong>.
        </p>
      </section>
    {% endblock %}
  </body>
</html>