<!--
  Stránka 'Pojištění' s tabulkou všech pojištění (uživatel je
administrátor), pojištění příslušících přihlášenemu pojištěnci
(uživatel je pojištěnec).
-->
<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    {% extends 'sablona.html' %}
    {% block content %}
      <header class="sablona__section__header">
        <h1 class="nadpis1">Pojištění</h1>
      </header>

      <section class="sablona__section__section">
        {% if user.je_admin %}
          <a
              href="{% url 'nove_pojisteni' adresy_presmerovani None %}"
              class="btn btn-primary section__tlacitko">
            Nové pojištění
          </a>
        {% endif %}

        <!--
          Responzivní Bootstrap tabulka s výčtem všech pojištění
        (uživatel je administrátor), pojištění příslušících
        přihlášenemu pojištěnci (uživatel je pojištěnec). V hlavičce
        tabulky najdeme HTML objekt 'select', který u každého sloupečku
        obsahuje možnost jeho řazení podle jeho hodnot
        a to buď sestupně nebo vzestupně.
          Je zde využit JavaScript, díky kterému odešleme formulář
        s vybranou možností ihned po kliknutí na tuto možnost
        ('this.form.submit()').
          Pokud je některá z možností řazení tabulky již uložená jako
        COOKIE, načteme ji a seřadíme tabulku tak, jak si uživatel
        navolil při poslední návštěvě stránky.
        -->
        {% if stranka_obj %}
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">
                    <form method="POST">
                      {% csrf_token %}
                      id pojištění
                      <select onchange="this.form.submit()" class="seradit_podle" name="seradit">
                        <option value=""></option>
                        <option
                            value="id"
                            {% if request.COOKIES.seradit_pojisteni_index == "id" %}
                              selected
                            {% endif %}>
                          &DownArrow;
                        </option>
                        <option
                            value="-id"
                            {% if request.COOKIES.seradit_pojisteni_index == "-id" %}
                              selected
                            {% endif %}>
                          &uparrow;
                        </option>
                      </select>
                    </form>
                  </th>

                  <th scope="col">
                    <form method="POST">
                      {% csrf_token %}
                      id pojištěnce
                      <select onchange="this.form.submit()" class="seradit_podle" name="seradit">
                        <option value=""></option>
                        <option
                            value="pojistenec_id"
                            {% if request.COOKIES.seradit_pojisteni_index == "pojistenec_id" %}
                              selected
                            {% endif %}>
                          &DownArrow;
                        </option>
                        <option
                            value="-pojistenec_id"
                            {% if request.COOKIES.seradit_pojisteni_index == "-pojistenec_id" %}
                              selected
                            {% endif %}>
                          &uparrow;
                        </option>
                      </select>
                    </form>
                  </th>

                  <th scope="col">
                    <form method="POST">
                      {% csrf_token %}
                      Pojištění
                      <select onchange="this.form.submit()" class="seradit_podle" name="seradit">
                        <option value=""></option>
                        <option
                            value="typ_id"
                            {% if request.COOKIES.seradit_pojisteni_index == "typ_id" %}
                              selected
                            {% endif %}>
                          &DownArrow;
                        </option>
                        <option
                            value="-typ_id"
                            {% if request.COOKIES.seradit_pojisteni_index == "-typ_id" %}
                              selected
                            {% endif %}>
                          &uparrow;
                        </option>
                      </select>
                    </form>
                  </th>

                  <th scope="col">
                    <form method="POST">
                      {% csrf_token %}
                      Částka
                      <select onchange="this.form.submit()" class="seradit_podle" name="seradit">
                        <option value=""></option>
                        <option
                            value="castka"
                            {% if request.COOKIES.seradit_pojisteni_index == "castka" %}
                              selected
                            {% endif %}>
                          &DownArrow;
                        </option>
                        <option
                            value="-castka"
                            {% if request.COOKIES.seradit_pojisteni_index == "-castka" %}
                              selected
                            {% endif %}>
                          &uparrow;
                        </option>
                      </select>
                    </form>
                  </th>

                  {% if user.je_admin %}
                    <th scope="col">Možnosti</th>
                  {% endif %}
                </tr>
              </thead>

              <tbody>
                <!-- Tabulku naplníme daty. -->
                {% for pojisteni in stranka_obj %}
                  <tr>
                    <td>
                      <form method="POST">
                        {% csrf_token %}
                        <button
                            name="detail_pojisteni"
                            value="{{ pojisteni.pk }}"
                            class="btn btn-info section__tlacitko">
                          {{ pojisteni.id }}
                        </button>
                      </form>
                    </td>
                    
                    <td>
                      <form method="POST">
                        {% csrf_token %}
                        <button
                            name="detail_pojistence"
                            value="{{ pojisteni.pojistenec.pk }}"
                            class="btn btn-info section__tlacitko">
                          {{ pojisteni.pojistenec.id }}
                        </button>
                      </form>
                    </td>

                    <td>{{ pojisteni.typ.typ }}  </td>

                    <td>{{ pojisteni.castka }} Kč</td>

                    {% if user.je_admin %}
                      <td>
                        <form method="POST">
                          {% csrf_token %}
                          <div class="tlacitka_mezery">
                            <!--
                              div odstranit objekt a potvrzovací tlačítko
                            -->
                            <div>
                              <input
                                  type="checkbox"
                                  class="odstranit_potvrzeni"
                                  name="odstranit_potvrzeni"
                              >
                              <button
                                  name="odstranit"
                                  value="{{ pojisteni.pk }}"
                                  class="btn btn-danger section__tlacitko">
                                Odstranit
                              </button>
                            </div>

                            <button
                                name="upravit_pojisteni"
                                value="{{ pojisteni.pk }}"
                                class="btn btn-zelene section__tlacitko">
                              Upravit
                            </button>
                          </div>
                        </form>
                      </td>
                    {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}

        <!-- Vloží pod tabulku objekt stránkovače. -->
        {% include 'strankovani.html' %}
      </section>
    {% endblock %}
  </body>
</html>
